*{
    box-sizing :border-box ;
}
body, html {
    margin:0;
    padding: 0;
}
body{
    display :flex;
    align-items :center ;
    justify-content :center ;
    height :100vh ;
    width:70%;
    margin :auto;
    background: url(purple.jpg) no-repeat center center/cover;
}
.container {
    background: white;
    padding :50px;
    border-radius :10px ;
}
.header {
    text-align :center;
} 
hr{
 background:rgba(197,91,249,255);
}
.text{
    margin-bottom :30px ;
}
.input-container{
    display:flex;
    width:100%;
   
}
.input{
    margin :5px 0;
    border-radius :30px ;
    padding :10px;
    outline:none;
    width:100%;
}
.input:focus {
    border: 2px solid rgba(197,91,249,255);
  }
.square{
    border-radius: 0px 20px 20px 0;
}
.icon {
    padding:10px;
    min-width:50px;
    background: rgba(197,91,249,255);
    color:white;
    text-align: center;
    border-radius: 20px 0 0 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn{
    width:100%;
    text-align :center ;
    margin :5px 0;
    border-radius :30px ;
    padding :10px;
    background: rgba(197,91,249,255);
    color: white;
    cursor :pointer ;
}
btn:hover{
    opacity:0.7;
}
.container p{
    font-size :14px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
}
